* {
    /* border: 1px solid red; */

}

body {
    background-color: black;
    color: white;
    width: 100%;
    height: 100%;
   
}

main { 
    max-width: 1000px;
    margin: auto;
}

img {
    border: 2px solid lightgray;

}

.footer {
  margin-left: 10px;
 
}

/* iframe {
  border: 1px solid rgb(63, 131, 255);
  padding: 5px;
} */


.introImage {
  width: 1000px;
  height: 621px;
  margin: auto;
  
}
 
.nav {
  height: 100%;
  width: 200px;
  position: fixed;
  /* z-index: 1; */
  top: 0;
  left: 0;
  background-color: transparent;
  overflow-x: hidden;
  padding-top: 150px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 17px;
    color: white;
    display: block;
    width: 90px;
    /* text-shadow: 4px 2px 1px rgba(252, 253, 255, 0.829); */
    border: 1px solid  whitesmoke;
    border-radius: 20px;
}
.nav a:hover {
    background-color: whitesmoke;
    color: black;
    margin-left:15px;
  }

h1 {
    color: white;
    font-family: 'Times New Roman', Times, serif, monospace;
    font-size: 5em;
    line-height: 1.0;
    letter-spacing: 1.5px;
    text-shadow: -2px 2px 10px rgba(245, 244, 240, 0.76);
    /* background-color: black; */
    text-align: center;
    margin: 0px 0px;
    padding: 15px 2px;
    border-radius: 10px ;
    border-style: double;
    border-color: black;
    border-width: 6px;
}



#titleB {
  font-size: 3em;
  text-align: right;
  margin-right:30px;
}

#concept {
/* border: 1px dashed white ; */
/* margin: 10px; */
padding-top: 30px;
}

#concept h3 {
  text-align: center;
  font-size: 2em;
  margin: 0px;
  letter-spacing: 2px;
  font-family: Arial, Helvetica, sans-serif;
}

#concept p {
  padding: 20px 20px;
  text-align: center;
  font-size: 1.2em;
  word-spacing: 2px;
  border: 1px dashed white ;
}

h3 {
  text-shadow: -2px 2px 10px rgba(245, 244, 240, 0.76);

  font-size: 3em;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: -2.75px;
  word-spacing: 5px;
}

.hero {
    /* Sizing */
    width: 100vw;
    height: 18vh;
    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;
     /* Text styles */
    text-align: center;
    }

 .hero h1 {
    /* Text styles */
    font-size: 5em;
    /* Margins */
    margin-top: 0;
    margin-bottom: 0;

    height: .6em;
}

.hero h2 {
    /* font-family: 'Special Elite', cursive; */
  margin-bottom: 0;
  position: absolute;
  top: 110px;
  /* left: 230px; */
  left: 230px;
  font-size: 20px;
}

.hero .btnA {
    /* Positioning and sizing */
    display: block;
    width: 100px;

    position: absolute;
    top: 420px;
    right: 650px;
    z-index: 0;
    
    /* Border styles */
    border: 4px solid rgb(0, 135, 246);
    border-radius: 20px;

     /* Padding and margins */
    padding: .1em;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;

    /* Text styles */
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.5em;
    font-family: georgia;
    letter-spacing: .5px;
}

.hero .btnB {
  /* Positioning and sizing */
  display: block;
  width: 100px;

  position: absolute;
  top: 460px;
  right: 650px;
  z-index: 0;
  
  /* Border styles */
  border: 4px solid rgb(0, 45, 246);
  border-radius: 20px;

   /* Padding and margins */
  padding: .1em;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;

  /* Text styles */
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 1.5em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  letter-spacing: .5px;
}

.hero .btnD {
  /* Positioning and sizing */
  display: block;
  width: 100px;

  position: absolute;
  top: 505px;
  right: 650px;
  z-index: 0;
  
  /* Border styles */
  border: 4px solid  rgb(78, 16, 221);
  border-radius: 20px;

   /* Padding and margins */
  padding: .1em;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;

  /* Text styles */
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 1.5em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  letter-spacing: 1px;
}

.hero .btnA:hover {
  background-color:rgb(0, 135, 246);
}

.hero .btnB:hover {
  background-color:rgb(0, 45, 246);
}

.hero .btnD:hover {
  background-color:rgb(78, 16, 221);
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
.fa:hover {
    opacity: 0.7;
}

.fa-youtube {
  background: black;
  color: white;
}

.fa-instagram {
  background: black;
  color: white;
}

.fa-soundcloud {
  background: black;
  color: white;
}

.fa-twitter {
  background: black;
  color: white;
}
  
.rectangle {
  display: inline-block;
  width: 200px;
  height: 300px;
  padding: 1em;

  line-height: 23px;
  /* text-align: justify; */
}

.rectangleVoldy {
  display: inline-block;
  width: 300px;
  /* width: 300px; */
  height: 100px;
  padding: 1em;

  text-align: right;
  line-height: 23px;
  text-align: justify;

  font-size: 1.25em;
}

.lyrics {
  position: absolute;
  right: 140px;
  top:1040px;
  display: inline-block;
  width: 150px;
  height: 300px;

  font-size: 2em;
  word-spacing: 5px;
  line-height: 40px;
}

.album {
  height: 300px;
  width: 300px;
  border:rgba(0, 45, 246, 0);
}

.album:hover {
  border: 1px solid rgb(255, 197, 207);
}

.anime {
  display: inline-block;
  margin: 13px;
}


.axol p {
  text-align: center;
  font-size: 1.25em;
  border: 1px solid pink;
  border-radius: 20px;
  padding:10px;
}

.anime p{
  border: 0px;
}

.dirtyImg {
  height: 300px;
}

.utada {
  margin-left: 50px;
}

h4 {
  font-size: 1.5em;
  text-shadow: -2px 2px 10px rgba(245, 244, 240, 0.76);
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: -2.75px;
}

#aboutMe {
 margin-top: 50px;
 margin-bottom: 40px;
 text-align: center;
}

#aboutMe p{
  border:solid 2px rgb(255, 255, 255);
  border-radius: 200px;
  text-align: center;
  margin-left: 335px;
  margin-right: 335px;
  padding: 50px;
  line-height: 18px;
}

audio {
  width: 200px;
  height: 30px;
}

@media only screen and (max-width: 600px) {
  body {

    
  }
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="introImage"] {
    width:95%;
    height: 50%;
  }
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="hero"] {
font-size: 60%;
  }
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .hero h2{
    font-size: 200%; 

  }
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
.hero .btnA {
    position:static;
  }
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  #concept{
font-size: 30%;
  }
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
 .nav {
  display: none;
  }
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
 .rectangle {
  width: 80%;
  height: 80%;
  }
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
 iframe {
  width: 90%;
  height: 80%;
  margin-left: 0px;
  }
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .rectangleVoldy {
    margin-top: 0px;
  }
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .lyrics {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .axol p {
    width: 85%;
    margin-left: 9px;
  }
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .anime {
    margin: 0px 35px ;
  }
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  #aboutMe p{
    margin-left: 20px;
    border-radius: 20px;
    width: 60%;
  }
}